header img{
    height: auto;
    width: 100%;
}

body{
    margin: 0px;
	background-image: url("../images/bgblurred.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Navigation Bar*/
nav {
    background-color: #025A7E;
	float: left;
	width: 150px;
	height: 100%;
    position: fixed;
	z-index: 10;
	opacity: .7;
}

nav ul.site-nav {
    height: inherit;
    margin-top: 200px;
    font-family: Yanone Kaffeesatz;
    font-size: 2em;
    
}

nav ul.site-nav li.site-nav-item {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    background-color: #FFFFFF;
	border-radius: 5px;
}

nav ul.site-nav li.site-nav-item a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    height: 50px;
    width: 90px;
    padding: 10px;
}

nav ul.site-nav li.site-nav-item a:hover {
    text-decoration: none;
    color: #7CF816; 
    width: 120px;
	margin-left: 20px;
}

/*Index.html*/
p.descriptions{
	font-size:1.5em;
	text-align: justify;
	padding: 20px;
}

.picture1{
	float:left;
	text-align:center;
	height:350px;
	width:350px;
	margin-left:30px;
}

.picture1 img{
  height: 250px;
  width: 250px;
  transition: all 1s ease-in-out;
  border: 5px solid black;
}
 
.picture1 img:hover {
  width: 300px;
  height: 300px;
}

.picture2{
	float:left;
	text-align:center;
	height:350px;
	width:350px;
	margin-left:30px;
}

.picture2 img{
  height: 250px;
  width: 250px;
  transition: all 1s ease-in-out;
  border: 5px solid black;
}
 
.picture2 img:hover {
  width: 300px;
  height: 300px;
}

.images{
	height: 50%;
	width: 100%;
}

.head {
    padding-left:12%;
    width: 88%;
    height: 250px;
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: auto;
}

#bodyContainer1{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/bgblurred.jpg");
}

#bodyContainer2{
    
}

#aboutUs-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.title{
 
	text-align: center;
}

.imgArticle{
	width: 80%;    
	margin: 0 auto;
}

.imgArticle img{
	height:50%;
	width:100%;
}

.headArticle{
       width: 80%;
    margin: 0 auto;
}

p{
	font-size: 20px;
	text-align: justify;
	padding:20px;
}
/*Gallery.html*/


.gallery-image img {
    width: 400px;
    height: 330px;
    filter: blur(2px);
    transition: all 0.5s ease;
    padding-left: 180px;
    padding-right: 40px;
    padding-top: 20px; 
}

.gallery-image img:hover {
    filter: blur(0px);
    
        
}

div.img img {
	position: relative;
	overflow: hidden;
    width: 100%;
    height: 100%;
    
}

/*AboutUs.html*/
span {
    font-size: 50px;
}

.about-heading {
    text-align: center;
    font-size: 90px;
    font-family: Philosopher;
}

#collage {
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

#meet {
    text-align: center;
    font-size: 90px;
    font-family: Philosopher;
}

#para1 {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 25px;
}

#para2 {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 25px;
}

.aboutusteam img {
    width: 250px;
    height: 250px;
}

/*JoinUs.html*/
.joinUs-container {
    position:relative;
    padding-top: 50px;
    width: 50%;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
}

form {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background: #495C70;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D3D3D3;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
form h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}
form h1>span {
    display: block;
    font-size: 11px;
}
form label {
    display: block;
    margin: 0px 0px 5px;
}
form label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
form input[type="text"], form input[type="email"], form textarea, form select {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}
form select {
    background: #DFDFDF url('down-arrow.png') no-repeat right;
    background: #DFDFDF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    color: #525252;
    line-height: 25px;
}
form textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
form .button {
    background: #FFCC02;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

form .button:hover {
    color: #333;
    background-color: #EBEBEB;
}

/*footer*/
footer{
    position: absolute;
    width: 100%;
}
footer a img, footer img {
    width: 45px;
    height: 45px;
}
footer a {
    padding-right: 30px;   
}

footer p {
   font-size: 10px;   
}

footer #footer-contents{
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

#footer-container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#copyright-middle{
    width: 135px;
    margin-right: 0px;
    
} 
#copyright-middle p{
    height: 30px;
    text-align: center;
    padding: 0px;
}
#footer-contents ul{
       float: left;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
     margin-bottom: 8px;
}

#footer-contents ul li{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    height: 30px;
}



/* Mga h1 sa Home Page */

#sixthID,#ninthID,#twelvethID,#fifthteenthID{
    font-family: Varela Round;
    font-size: 35px;
}

#seventhteenthID {
    font-family: Francois One;
    font-size: 55px;
}
