header img{
    height: auto;
    width: 100%;
}

body{
    width: 100%;
    margin: 0px;
	background-image: url("styles/bgblurred.jpg");
    background-size: cover;
}

nav {
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
	z-index: 10;
}

nav ul.site-nav {
    width: auto;
    float: right;
    padding-right: 3%;
    height: inherit;
    margin-top: 12px;
    margin-bottom: 2px;
    
}

nav ul.site-nav li.site-nav-item {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    
}

nav ul.site-nav li.site-nav-item a {
    text-decoration: none;
    color: limegreen;
    font-size: 20px;
    height: 50px;
    width: 90px;
    padding: 10px 20px;
}

nav ul.site-nav li.site-nav-item a:hover {
    text-decoration: none;
    background-color: black;
    color: white; 
    font-size: 20px;
    height: 50px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
}
/*
table {
	font-family: sans-serif;
	font-size: 30px;
}

#navBar {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #E7E7E7;
	-moz-box-shadow: 10px 10px 10px #ccc;
	-webkit-box-shadow: 10px 10px 10px #ccc;
	-ms-box-shadow: 10px 10px 10px #ccc;
	-o-box-shadow: 10px 10px 10px #ccc;
	box-shadow: 10px 10px 10px #ccc;
}

#navBar a {
	display: block;
	color: #000;
	text-decoration: none;
}

#navBar a:hover {
	color: #000;
	background: #B9B9B9;
	text-decoration: none;
}

#navBar a.selected {
	color: #000;
	background: #B9B9B9;
	text-decoration: none;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

*/

p.descriptions{
	font-size:1.5em;
	text-align: justify;
	padding: 20px;
}



.picture1{
	float:right;
	text-align:center;
	height:350px;
	width:350px;
	margin-right:30px;
}

.picture1 img{
  height: 250px;
  width: 250px;
  transition: all 1s ease-in-out;
  border: 5px solid black;
}
 
.picture1 img:hover {
  width: 300px;
  height: 300px;
}

.picture2{
	float:left;
	text-align:center;
	height:350px;
	width:350px;
	margin-left:30px;
}

.picture2 img{
  height: 250px;
  width: 250px;
  transition: all 1s ease-in-out;
  border: 5px solid black;
}
 
.picture2 img:hover {
  width: 300px;
  height: 300px;
}

.images{
	height: 50%;
	width: 100%;
}

.head {
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
	padding-top: 50px;
    overflow: auto;
}

#bodyContainer1{
  width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#bodyContainer2{
    
}

.title{
 
	text-align: center;
}

.imgArticle{
width: 80%;
    
margin: 0 auto;
}
.imgArticle img{
	height:50%;
	width:100%;
}

.headArticle{
       width: 80%;
    margin: 0 auto;
}

p{
	font-size: 20px;
	text-align: justify;
	padding:20px;
}

hr{
	border:1px solid;
}


.icon-contacts .contacts-list .contacts-list-tr .contacts-list-tr-td img {
    height: 20px;
    width: 20px;
}

.contacts-container {
    padding-top: 5%;
}

div.contacts-container {
    padding-left: 5%;
}

h6.nav-name {
    font-size: 30px;
    margin-bottom: 10px;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
    height: 290px;
    transition:all 1s ease;
}

div.img:hover {
    border: 7px solid #48AA5D;
    width:450px;
    height: 350px;
        
}

div.img img {
    width: 100%;
    height: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
}


#aboutteam{
    width: 250px;
    height: 250px;
}

.aboutusteam p{
    font-size: 25px;
}

span {
    font-size: 50px;
}

.gallery-image {
    width: 300px;
    height: 200px;
}

.gallery-format {
   float: right; 
    margin: 0px 0px 15px 15px;
    
}

table.feedback-table {
    width: 450px;
}

td.feedback-table-tr-td {
    vertical-align: top;
}
.about-heading {
    text-align: center;
    font-size: 90px;
    font-family: Philosopher;
}

#collage {
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

#meet {
    text-align: center;
    font-size: 90px;
    font-family: Philosopher;
}

#para1 {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 25px;
}

#para2 {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 25px;
}

.aboutusteam img {
    width: 250px;
    height: 250px;
}

/*for the Join Us Page*/


.joinUs-container {
    height: 100%;
}


.joinUs-form-container {
    display: block;
    width: 30%;
}

.joinUs-container .joinUs-form-container form.join label {
    float: left;
}

footer a img, footer img {
    width: 45px;
    height: 45px;
}
footer a {
    padding-left: 50px;
    padding-right: 50px;   
}

footer #footer-contents{
    margin-right: auto;
    margin-left: auto;
    width: auto;
}